/*! HubSpot COS Site Search
Created by Jesse Nieminen (https://www.viima.com)
Forked from the version by Stefen Phelps - https://stefenphelps.com/
---------------------------------------------- */
.search-results-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
    z-index: 99999999;
}

.search-activated .search-results-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.search-results-overlay .overlay-close {
    position: absolute;
    right: 2rem;
    top: 5rem;
    overflow: hidden;
    border: 0;
    z-index: 100;
    background: none;
    cursor: pointer;
}
.search-results-overlay .overlay-close i {
    font-size: 42px;
    color: white;
}

.search-results-overlay .overlay-close i:hover {
    background: white;
    border-radius: 50%;
    color: #777;
}

.search-results-wrapper .search::-webkit-input-placeholder {
    color: #fff;
}

.search-results-wrapper .search:-moz-placeholder {
    color: #fff;
}

.search-results-wrapper .search::-moz-placeholder {
    color: #fff;
}

.search-results-wrapper .search:-ms-input-placeholder {
    color: #fff;
}

.search-results-wrapper {
    max-width: 850px;
    margin: 3em auto 1em auto;
    padding: 0 8em;
    height: calc(100vh - 4em);
}

.search-results-wrapper .search {
    width: 100%;
    padding: 0.5em 0;
    background: none;
    border: 0 none;
    border-bottom: 2px solid #fff !important;
    color: #fff;
    outline: 0;
    font-size: 1.5em;
}

.search-results-wrapper .search:valid:not(:placeholder-shown) {
    border: 0 none !important;
    border-bottom: 2px solid #fff !important;
}

.search-results {
    margin: 2em 0 0 0;
    padding: 0;
    height: calc(100% - 4.4em);
    position: relative;
    overflow-y: auto;
}

.search-results li {
    list-style: none;
    border-bottom: 2px solid #EEE;
    font-size: 1.6em;
    padding: 1em;
    background: #fff;
    line-height: 1;
}

.search-results li:hover {
    background: #fcfcfc;
}

.search-results li a {
    display: inline-block;
    width: 100%;
}

.search-results li span.cos-url {
    color: #777;
}

.search-results li#no-items-found {
    text-align: center;
    padding: 5rem 0;
}

.search-results li#no-items-found i {
    font-size: 42px;
}
.search-results li#no-items-found span {
    font-size: 1.6rem;
}

.search-results span {
    font-size: 1rem;
    display: block;
    margin-top: 0.75em;
}
